/* guria */
.guria-hero-text{
    position: absolute;
    top: 44%;
    left: 55%;
    color: aliceblue;
    transform: translate(-150%, -50%);
    font-size: 90px;
}

/* guria destinations-bakhmaro */
.bakhmaro-hero-text{
    position: absolute;
    top: 44%;
    left: 65%;
    color: aliceblue;
    transform: translate(-150%, -50%);
    font-size: 90px;
}

/* gomis mta */
.gomis-mta-hero-text {
    position: absolute;
    top: 43%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: aliceblue;
}

.gomis-mta-hero-text h6 {
    font-size: 90px;
    margin: 0;
}

/* lake jaji */
.lake-jaji-hero-text {
    position: absolute;
    top: 43%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: aliceblue;
}

.lake-jaji-hero-text h6 {
    font-size: 90px;
    margin: 0;
}

/* chinchao lake */
.chinchao-lake-hero-text {
    position: absolute;
    top: 43%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: aliceblue;
}

.chinchao-lake-hero-text h6 {
    font-size: 90px;
    margin: 0;
}

/* atchi church */
.atchi-church-hero-text {
    position: absolute;
    top: 55%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: aliceblue;
}

.atchi-church-hero-text h6 {
    font-size: 90px;
    margin: 0;
}

/* imereti */
.imereti-hero-text{
    position: absolute;
    top: 44%;
    left: 60%;
    color: aliceblue;
    transform: translate(-150%, -50%);
    font-size: 90px;
}