/* guria */
body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* guria destinations-bakhmaro */
.bakhmaro-hero-text{
    position: absolute;
    top: 55%;
    left: 68%;
    color: aliceblue;
    transform: translate(-150%, -50%);
    font-size: 90px;
}

/* gomis mta */
.gomis-mta-hero-text {
    position: absolute;
    top: 55%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: aliceblue;
}

.gomis-mta-hero-text h6 {
    font-size: 90px;
    margin: 0;
}

/* lake jaji */
.lake-jaji-hero-text {
    position: absolute;
    top: 55%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: aliceblue;
}

.lake-jaji-hero-text h6 {
    font-size: 90px;
    margin: 0;
}

/* chinchao lake */
.chinchao-lake-hero-text {
    position: absolute;
    top: 55%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: aliceblue;
}

.chinchao-lake-hero-text h6 {
    font-size: 90px;
    margin: 0;
}

/* atchi church */
.atchi-church-hero-text {
    position: absolute;
    top: 55%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: aliceblue;
}

.atchi-church-hero-text h6 {
    font-size: 90px;
    margin: 0;
}

/* likhauri church */
.likhauri-church-hero-text {
    position: absolute;
    top: 55%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: aliceblue;
}

.likhauri-church-hero-text h6 {
    font-size: 90px;
    margin: 0;
}

/* erketi church */
.erketi-church-hero-text {
    position: absolute;
    top: 55%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: aliceblue;
}

.erketi-church-hero-text h6 {
    font-size: 90px;
    margin: 0;
}

/* shemokmedi church */
.shemokmedi-church-hero-text {
    position: absolute;
    top: 55%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: aliceblue;
}

.shemokmedi-church-hero-text h6 {
    font-size: 90px;
    margin: 0;
}

/* nabeghlavi */
.nabeghlavi-hero-text{
    position: absolute;
    top: 55%;
    left: 77%;
    color: aliceblue;
    transform: translate(-150%, -50%);
    font-size: 90px;
}

/* ureki */
.ureki-hero-text{
    position: absolute;
    top: 55%;
    left: 60%;
    color: aliceblue;
    transform: translate(-150%, -50%);
    font-size: 90px;
}

/* Tablets & small laptops */
@media (max-width: 900px) {

  /* Reduce font size */
  .bakhmaro-hero-text,
  .nabeghlavi-hero-text,
  .ureki-hero-text {
    font-size: 50px;
  }

  .gomis-mta-hero-text h6,
  .lake-jaji-hero-text h6,
  .chinchao-lake-hero-text h6,
  .atchi-church-hero-text h6,
  .likhauri-church-hero-text h6,
  .erketi-church-hero-text h6,
  .shemokmedi-church-hero-text h6 {
    font-size: 50px;
  }

  /* Slight position adjustments */
  .bakhmaro-hero-text {
    left: 60%;
  }

  .nabeghlavi-hero-text {
    left: 70%;
  }
}

/* Mobile devices */
@media (max-width: 600px) {

  /* Further reduce font size */
  .bakhmaro-hero-text,
  .nabeghlavi-hero-text,
  .ureki-hero-text {
    font-size: 30px;
  }

  .gomis-mta-hero-text h6,
  .lake-jaji-hero-text h6,
  .chinchao-lake-hero-text h6,
  .atchi-church-hero-text h6,
  .likhauri-church-hero-text h6,
  .erketi-church-hero-text h6,
  .shemokmedi-church-hero-text h6 {
    font-size: 30px;
  }

  /* Center text better on small screens */
  .bakhmaro-hero-text,
  .nabeghlavi-hero-text,
  .ureki-hero-text {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}