/* samtskhe javakheti */
body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.Samtskhe-Javakheti-hero-text{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: aliceblue;
}

.Samtskhe-Javakheti-hero-text h6{
    font-size: 90px;
    margin: 0;
}