/* shida-kartli */
body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.shida-kartli-hero-text{
    position: absolute;
    top: 55%;
    left: 50%;
    color: aliceblue;
    transform: translate(-50%, -50%);
    font-size: 90px;
}