@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #ffffff;
}

.container {
    max-width: 1240px;
    width: 90%;
    margin: 0 auto;
}
  
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header styles */

header{
    background-color: #f4f4f4;
}

.inner-header{
    display: flex;
    align-items: center;
}

.logo img{
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
    width: 120px;
    height: 100px;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}
  
nav ul {
    display: flex;
}
  
nav ul li {
    margin-right: 40px;
}
  
nav ul li a {
    font-size: 18px;
    font-weight: 400px;
    font-family: "Playfair Display", serif;
    color: #333333;
    text-decoration: none;
}

nav ul li a:hover{
    color: #879fac;
}

.active {
    font-weight: bold;
}

/* main page / section 1*/

.hero-section{
    position: relative;
    text-align: center;
}

.hero-image{
    width: 100%;
    height: auto;
    max-height: 600px;
}

.hero-text h1{
    position: absolute;
    top: 50%;
    left: 35%;
    color: aliceblue;
    transform: translate(-150%, -50%);
    font-size: 90px;
}

.hero-text h2{
    position: absolute;
    top: 50%;
    left: 50%;
    color: aliceblue;
    transform: translate(-150%, -50%);
    font-size: 90px;
}

.hero-text h3{
    position: absolute;
    top: 50%;
    left: 70%;
    color: aliceblue;
    transform: translate(-150%, -50%);
    font-size: 90px;
}

.hero-text h4{
    position: absolute;
    top: 50%;
    left: 95%;
    color: aliceblue;
    transform: translate(-150%, -50%);
    font-size: 90px;
}

.hero-text h5{
    position: absolute;
    top: 50%;
    left: 95%;
    color: aliceblue;
    transform: translate(-150%, -50%);
    font-size: 90px;
}

/* section 2 */

section .section-container{
    width: 100%;
}

.section-container h3 {
    font-size: 40px;
    font-family: "Montserrat", serif;
    color: #444444 ;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
  
.destination-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 60px;
    margin-bottom: 70px;
    margin: 50px;
}
  
.destination-box {
    margin: 0 auto;
    position: relative;
}

.destination-box img{
    width: 300px;
    height: 250px;
    transition: 0.5s ease-in-out;
}

.destination-box img:hover {
    transform: scale(1.1);
}


.name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.name h4{
    font-size: 20px;
    font-weight: 400px;
    font-family: "Roboto", serif;
    color: #333333;
    margin-top: 15px;
}

/* footer */

.footer-box{
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.socials h3 {
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}

.socials img{
    width: 30px;
    margin: 20px;
}

.tours h3{
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}

.tours ul li{
    font-size: 18px;
    font-weight: 200px;
    margin: 15px;
}

.tours ul li a{
    color: #444444;
}

.tours ul li a:hover{
    color: #111111;
}

.location h3{
    font-size: 30px;
    font-weight: bold;
    margin: 20px;   
}

.location ul {
    list-style: none;
    padding: 0;
}
  
.location ul li {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    margin-bottom: 8px;
}
  
.location ul li img {
    width: 40px; 
    height: auto;
}
  
.location ul li a {
    text-decoration: none;
    color: #444444;
    font-size: 18px;
    font-weight: 500;
}

.location ul li a:hover{
    color: #111111;
}

